In [14]:
!pip install pandas numpy seaborn scikit-learn

Requirement already satisfied: pandas in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (2.0.2)
Requirement already satisfied: seaborn in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (1.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from seaborn) (3.9.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (6.5.2)
Requirement already satisfied: six>=1.5 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\satis\onedrive\desktop\sem-6\sem6\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.21.0)

In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, KBinsDiscretizer

In [16]:
df = sns.load_dataset('titanic')

In [17]:
print("Basic Dataset Information:\n")
print(df.info())
print("\n First 5 Rows:\n", df.head())
print("\n Summary Statistics:\n", df.describe(include='all'))

Basic Dataset Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

 First 5 Rows:
    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

 Summary Statistics:
           survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

### 3. Handling Null/Missing Values

In [18]:
print("\nüîç Columns with Missing Values:\n", df.isnull().sum())
df_cleaned = df.drop(columns=['deck'])
df_cleaned['age'].fillna(df['age'].median(), inplace=True)
df_cleaned['embarked'].fillna(df['embarked'].mode()[0], inplace=True)
df_cleaned.dropna(inplace=True)
print("\n‚úÖ After Handling Missing Values:\n", df_cleaned.isnull().sum())

üîç Columns with Missing Values:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

‚úÖ After Handling Missing Values:
 survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

C:\Users\satis\AppData\Local\Temp\ipykernel_19624\2451274544.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['age'].fillna(df['age'].median(), inplace=True)
C:\Users\satis\AppData\Local\Temp\ipykernel_19624\2451274544.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['embarked'].fillna(df['embarked'].mode()[0], inplace=True)

###  4. Handling Continuous Values

In [19]:
print("\nüìä Handling Continuous Variables:")

scaler = MinMaxScaler()
df_cleaned[['age_norm', 'fare_norm']] = scaler.fit_transform(df_cleaned[['age', 'fare']])
print("\nNormalized Age and Fare (0 to 1):\n", df_cleaned[['age_norm', 'fare_norm']].head())

kbin = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
df_cleaned['age_binned'] = kbin.fit_transform(df_cleaned[['age']])
print("\nBinned Age Categories:\n", df_cleaned[['age', 'age_binned']].head())

üìä Handling Continuous Variables:

Normalized Age and Fare (0 to 1):
    age_norm  fare_norm
0  0.271174   0.014151
1  0.472229   0.139136
2  0.321438   0.015469
3  0.434531   0.103644
4  0.434531   0.015713

Binned Age Categories:
     age  age_binned
0  22.0         1.0
1  38.0         1.0
2  26.0         1.0
3  35.0         1.0
4  35.0         1.0

### 5. Final Processed Dataset

In [20]:
print("\n‚úÖ Final Cleaned Data Sample:\n", df_cleaned.head())

‚úÖ Final Cleaned Data Sample:
    survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  embark_town alive  alone  age_norm  fare_norm  \
0    man        True  Southampton    no  False  0.271174   0.014151
1  woman       False    Cherbourg   yes  False  0.472229   0.139136
2  woman       False  Southampton   yes   True  0.321438   0.015469
3  woman       False  Southampton   yes  False  0.434531   0.103644
4    man        True  Southampton    no   True  0.434531   0.015713

   age_binned
0         1.0
1         1.0
2         1.0
3         1.0
4         1.0